<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="/static/js/get_recommend.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <h1 id="title"></h1><br/>
    <p id="text"></p><br/>
    <img id="img1" />
    <form>
        <input id="inputid" type="text"/><br/>
        <input type="button" value="get" onclick="get_recommend($('#inputid').val())" />
    </form>
</body>
</html>